body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td.screenshots {
	text-align: center;
}

td.screenshots img {
	width: 100%;
	vertical-align: top;
}

.test th {
	text-align: left;
}
