body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.screenshots img {
	width: 33%;
	vertical-align: top;
}

.test th {
	text-align: left;
}